<div class="container admin">
  <div class="header">
    <h3>Admin</h3>
    <div class="tab"></div>
  </div>

  <!-- Menu -->
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-card
      fxFlex
      class="element-card"
      [class.element-card-checked]="tabAdminEnum.Projects === selectTab"
      (click)="select(tabAdminEnum.Projects)"
    >
      <mat-card-header>
        <mat-card-title>Projects</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card
      fxFlex
      class="element-card"
      [class.element-card-checked]="tabAdminEnum.Users === selectTab"
      (click)="select(tabAdminEnum.Users)"
    >
      <mat-card-header>
        <mat-card-title>Users</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>

  <!-- Projects -->
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    *ngIf="tabAdminEnum.Projects === selectTab"
  >
    <mat-tab-group mat-align-tabs="center">
      <mat-tab
        label="All projects"
        *ngIf="adminSandbox.projects$ | async as projects; else loading"
      >
        <app-table-filter
          titleTable="Projects"
          [data]="projects"
          [columnsSource]="columnsSource"
        >
        </app-table-filter>
      </mat-tab>
      <mat-tab label="Create Project">Content 2</mat-tab>
    </mat-tab-group>
  </div>

  <ng-template #loading>
    <app-spinner></app-spinner>
  </ng-template>
</div>
