@mixin home-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground); 
    // Styles Container
    .container {
        display: flex;
        flex-direction: column;
        min-height: 84%;
        align-items: center;
        background: mat-color($grey-palette, 300); 
        // Styles header
        .header {
            background-color: mat-color($background, background);
            width: 100%;
            height: 74px;
            padding-top: 10px;
            margin-bottom: 24px;
            h3 {
                margin-left: 5%;
            }
            .tab {
                width: 0;
                height: 0;
                border: 0 solid transparent;
                border-left-width: 19px;
                border-right-width: 19px;
                border-top: 18px solid mat-color($background, background);
                margin-top: 32px;
                margin-left: 5%;
            }
        } 
        // Styles inserted content 
        .inserted-content {
            padding: 10px;
            margin-bottom: 24px;
            background-color: mat-color($background, background);
        }
    }
}